.delivery_countries_section {
    max-width: 1762px;
    margin: 140px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delivery_countries_header {
    width: 100%;
}

.delivery_countries_title {
    font-size: 40px;
    font-family: var(--font-bold), serif;
    color: #000000;
    width: 703px;
    margin: 0 auto 69px 0;
    text-align: left;
}

.delivery_countries_line {
    width: 100%;
    height: 2px;
    background-color: var(--color-dop-accent);
    margin-top: 70px;
}

.delivery_countries_cards-block {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 60px;
    max-width: 1762px;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}

.delivery_countries_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    grid-column: span 1;
}

.delivery_countries_card.india-card {
    grid-column: 2 / span 1;
    margin-top: 97px;
}

.delivery_countries_card.usa-card {
    grid-column: 4 / span 1;
}

.delivery_countries_card.china-card {
    grid-column: 6 / span 1;
    margin-top: 97px;
}

.delivery_countries_card_info {
    display: flex;
    flex-direction: column;
    gap: 35px
}

.delivery_countries_card_info_image img {
    width: 130px;
    height: 130px;
    object-fit: cover;
}

.delivery_countries_card_info_image-main img {
    width: 194px;
    height: 194px;
}

.delivery_countries_card_info_text_country-name {
    width: 100%;
    text-align: center;
    color: #000000;
}

.delivery_countries_card_info_text_country-name:not(.main-country) {
    font-size: 24px;
    font-family: var(--font-bold), serif;
}

.delivery_countries_card_info_text_country-name.main-country {
    font-size: 36px;
    font-family: var(--font-bold), serif;
}

.additional_services_section {
    max-width: 1762px;
    margin: 140px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.additional_services_cards-block {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 60px;
    max-width: 1762px;
    width: 100%;
}

.additional_services_card {
    grid-column: span 3;
    display: flex;
    gap: 97px;
    height: 250px;
}

.additional_services_card.returns-card {
    grid-column: 1 / span 3;
}

.additional_services_card.dop-services-card {
    grid-column: 5 / span 3;
}

.additional_services_card.consolidation-card {
    grid-column: 1 / span 3;
    margin-top: 70px;
}

.additional_services_card.acceptance-card {
    grid-column: 5 / span 3;
    margin-top: 70px;
}

.additional_services_card_icon-wrapper {
    width: 97px;
    height: 97px;
    flex-shrink: 0;
}

.additional_services_card_icon {
    width: 100%;
    height: 100%;
}

.additional_services_card_info {
    display: flex;
    flex-direction: column;
    max-width: 517px;
}

.additional_services_card_price {
    font-family: var(--font-bold), serif;
    font-size: 20px;
    color: #000000;
}

.additional_services_card_title {
    font-family: var(--font-bold), serif;
    font-size: 36px;
    color: #000000;
    margin-top: 17px;
}

.additional_services_card_text {
    font-family: var(--font-regular), sans-serif;
    font-size: 20px;
    color: #000000;
    margin-top: 21px;
    line-height: 1.2;
}

.additional_services_card.consolidation-card .additional_services_card_text,
.additional_services_card.acceptance-card .additional_services_card_text {
    height: 72px;
}

.additional_services_card.returns-card .additional_services_card_text,
.additional_services_card.dop-services-card .additional_services_card_text {
    height: 96px;
}


.additional_services_card_link {
    font-family: var(--font-regular), sans-serif;
    font-size: 24px;
    text-decoration: underline;
    color: #000000;
    margin-top: 18px;
    width: fit-content;
}

.additional_services_card.consolidation-card .additional_services_card_link,
.additional_services_card.acceptance-card .additional_services_card_link {
    margin-top: 42px;
}

.delivery_info_section {
    max-width: 1762px;
    margin: 140px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delivery_info_container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 60px;
    max-width: 1762px;
    width: 100%;
}

.delivery_info_text-block {
    grid-column: 1 / span 3;
    display: flex;
    flex-direction: column;
}

.delivery_info_text-group-1 {
    display: flex;
    gap: 97px;
}

.delivery_info_icon-wrapper {
    width: 97px;
    height: 97px;
    flex-shrink: 0;
}

.delivery_info_icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.delivery_info_content {
    display: flex;
    flex-direction: column;
}

.delivery_info_title {
    font-family: var(--font-bold), serif;
    font-size: 36px;
    color: #000000;
}

.delivery_info_description-1 {
    font-family: var(--font-regular), sans-serif;
    font-size: 20px;
    color: #000000;
    margin-top: 22px;
    line-height: 1.2;
    max-width: 509px;
}

.delivery_info_description-2 {
    font-family: var(--font-regular), sans-serif;
    font-size: 20px;
    color: #000000;
    margin-top: 18px;
    line-height: 1.2;
    max-width: 509px;
}

.delivery_info_text-group-2 {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.delivery_info_text-group-2 .delivery_info_title {
    font-size: 36px;
}

.delivery_info_text-group-2 .delivery_info_description-1 {
    margin-top: 22px;
    max-width: 701px;
}

.delivery_info_link {
    font-family: var(--font-regular), sans-serif;
    font-size: 24px;
    text-decoration: underline;
    color: #000000;
    margin-top: 18px;
    width: fit-content;
}

.delivery_info_divider {
    grid-column: 4 / span 1;
    width: 2px;
    background-color: var(--color-dop-accent);
    height: 431px;
    margin-left: 77px;
}

.delivery_info_calculator-block {
    grid-column: 5 / span 3;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
}

.delivery_info_calculator-title {
    font-family: var(--font-bold), serif;
    font-size: 36px;
    color: #000000;
}

.delivery_info_input-group {
    position: relative;
    padding-left: 70px;
    height: auto;
    border-bottom: 2px solid var(--color-dop-accent);
}

.delivery_info_input-group.city-input {
    margin-top: 74px;
}

.delivery_info_input-group.weight-input {
    margin-top: 70px;
}

.delivery_info_input-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    object-fit: contain;
}

.delivery_info_radio-buttons {
    margin-top: 70px;
    display: flex;
    gap: 58px;
}

.input_field {
    border: none;
    outline: none;
    font-size: 24px;
    padding-bottom: 5px;
    width: 300px;
    text-align: left;
    height: 51px;
}

.volume_weight_section {
    max-width: 1762px;
    margin: 140px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.volume_weight_container {
    max-width: 1724px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.volume_weight_header {
    display: flex;
    gap: 97px;
    align-items: center;
    width: fit-content;
}

.volume_weight_icon {
    width: 99px;
    height: 99px;
    object-fit: contain;
}

.volume_weight_title {
    font-family: var(--font-bold), serif;
    font-size: 36px;
    color: #000000;
}

.volume_weight_text {
    font-family: var(--font-regular), sans-serif;
    font-size: 24px;
    color: #000000;
    line-height: normal;
    margin-left: 2px;
    max-width: 1720px;
}

.volume_weight_rules {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.volume_weight_rule_item {
    font-family: var(--font-semibold), serif;
    font-size: 24px;
    color: #000000;
    line-height: normal;
    max-width: 1720px;
}

.volume_weight_rule_item:first-child {
    margin-left: 2px;
}

.volume_weight_rule_item_last {
    font-family: var(--font-semibold), serif;
    font-size: 24px;
    color: #000000;
    line-height: normal;
}

.volume_weight_discount {
    font-family: var(--font-bold), serif;
    font-size: 32px;
    color: #000000;
    line-height: normal;
    margin-top: -6px;
    max-width: 1720px;
}

.volume_weight_examples {
    margin-top: 70px;
    margin-left: 196px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    max-width: 1468px;
}

.volume_weight_examples_title {
    font-family: var(--font-bold), serif;
    font-size: 24px;
    color: #000000;
    line-height: normal;
    text-transform: lowercase;
}

.volume_weight_examples_list {
    display: flex;
    flex-direction: column;
    margin-left: 2px;
    gap: 0;
}

.volume_weight_example_item {
    font-family: var(--font-regular), sans-serif;
    font-size: 20px;
    font-style: italic;
    color: #000000;
    line-height: normal;
    max-width: 1464px;
    height: 24px;
}

.volume_weight_example_item_last {
    font-family: var(--font-regular), sans-serif;
    font-size: 20px;
    font-style: italic;
    color: #000000;
    line-height: normal;
    height: 48px;
}

.oversized_cargo_section {
    max-width: 1762px;
    margin: 140px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.oversized_cargo_container {
    max-width: 1720px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.oversized_cargo_title-block {
    display: flex;
    align-items: center;
    gap: 97px;
    width: 100%;
    max-width: 605px;
}

.oversized_cargo_icon {
    width: 97px;
    height: 97px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.oversized_cargo_title {
    font-family: var(--font-bold), serif;
    font-size: 36px;
    color: #000000;
    margin-top: 25px;
    line-height: normal;
    width: 409px;
    height: 44px;
    flex-shrink: 0;
}

.oversized_cargo_text-one {
    width: 100%;
    font-size: 32px;
    line-height: 1.5;
    margin-top: 35px;
}

.oversized_cargo_text-two {
    width: 100%;
    font-size: 32px;
    line-height: 1.5;
    margin-top: 20px;
}

.oversized_cargo_text_bold {
    font-family: var(--font-bold), serif;
    color: #000000;
}

.oversized_cargo_text_regular {
    font-family: var(--font-regular), serif;
    color: #000000;
}

.storage_section {
    max-width: 1762px;
    margin: 140px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.storage_container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2px 1fr;
    gap: 157px;
    align-items: flex-start;
}

.storage_block {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.storage_header-group {
    display: flex;
    align-items: center;
    gap: 97px;
}

.storage_icon {
    width: 97px;
    height: 97px;
}

.storage_title {
    font-size: 36px;
    font-family: var(--font-bold), serif;
    color: #000000;
}

.storage_divider {
    width: 2px;
    height: 100%;
    background-color: var(--color-dop-accent);
}

.storage_info-group {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.storage_subtitle {
    font-size: 32px;
    font-family: var(--font-regular), serif;
    color: #000000;
}

.storage_subtitle-bold {
    font-family: var(--font-bold), serif;
}

.storage_text {
    font-size: 24px;
    font-family: var(--font-regular), serif;
    color: #000000;
}

.storage_timeline {
    display: flex;
    flex-direction: column;
    margin-top: 41px;
}

.timeline_labels {
    display: flex;
    font-size: 24px;
    font-family: var(--font-regular), serif;
    color: #000000;
}

.timeline_labels-inbound {
    justify-content: space-between;
    padding-right: 1px;
    width: 705px;
}

.timeline_labels-inbound .timeline_label:nth-child(2) {
    margin-right: -100px;
}


.timeline_labels-outbound {
    justify-content: flex-start;
    gap: 158px;
    width: 703px;
}

.timeline_bar {
    display: flex;
    height: 10px;
    margin-top: 18px;
    position: relative;
}

.timeline_bar-free, .timeline_bar-paid {
    height: 100%;
    margin-top: -10px;
}

.timeline_bar-inbound-free {
    width: 50%;
    background-color: var(--color-base-accent);
}

.timeline_bar-inbound-paid {
    width: 50%;
    background-color: var(--color-dop-accent);
}

.timeline_bar-outbound-free {
    width: calc(7 / 21 * 100%);
    background-color: var(--color-base-accent);
}

.timeline_bar-outbound-paid {
    width: calc(14 / 21 * 100%);
    background-color: var(--color-dop-accent);
}

.timeline_prices {
    width: auto;
    display: flex;
    font-size: 24px;
    font-family: var(--font-regular), serif;
    color: #000000;
    margin-top: 17px;
}

.timeline_prices-inbound {
    justify-content: flex-start;
    gap: 400px;
    margin-left: 130px;
}

.timeline_prices-outbound {
    justify-content: flex-start;
    gap: 400px;
    margin-left: 107px;
}

.storage_description {
    font-size: 20px;
    font-family: var(--font-regular), serif;
    color: #000000;
    line-height: 1.6;
}

.storage_outbound {
    margin-top: 132px;
}

@media (max-width: 1762px) {
    .oversized_cargo_container {
        max-width: 90vw;
    }
    .volume_weight_section {
        max-width: 90vw;
    }
    .volume_weight_container {
        max-width: 90vw;
    }
    .volume_weight_examples {
        margin-left: 0;
        max-width: 100%;
    }
    .volume_weight_example_item,
    .volume_weight_example_item_last {
        max-width: 100%;
        height: auto;
    }
    .volume_weight_examples_list {
        margin-left: 0;
    }
    .delivery_info_section {
        max-width: 90vw;
    }
    .delivery_info_container {
        gap: 40px;
        max-width: 90vw;
    }
    .delivery_info_divider {
        margin-left: 50px;
    }
    .delivery_countries_section {
        max-width: 90vw;
    }
    .delivery_countries_title {
        width: 100%;
        text-align: center;
    }

    .additional_services_section {
        max-width: 90vw;
    }
    .additional_services_cards-block {
        gap: 40px;
    }
    .input_field {
        font-size: 16px;
        height: 40px;
        width: 100%;
        max-width: 300px;
    }

    .radio_label .radio {
        width: 30px;
        height: 30px;
    }

    .radio_label {
        font-size: 20px;
        gap: 15px;
    }
}

@media (max-width: 1440px) {


    .oversized_cargo_section {
        max-width: 90vw;
        margin-top: 100px;
    }

    .oversized_cargo_title-block {
        gap: 50px;
        max-width: 550px;
    }

    .oversized_cargo_icon {
        width: 80px;
        height: 80px;
    }

    .oversized_cargo_title {
        font-size: 32px;
        margin-top: 0;
    }

    .oversized_cargo_text-one,
    .oversized_cargo_text-two {
        font-size: 24px;
        line-height: 1.4;
        margin-top: 30px;
    }

    .oversized_cargo_text-two {
        margin-top: 15px;
    }
    .volume_weight_section {
        margin-top: 100px;
    }
    .volume_weight_header {
        gap: 40px;
    }
    .volume_weight_icon {
        width: 80px;
        height: 80px;
    }
    .volume_weight_title {
        font-size: 28px;
    }
    .volume_weight_text {
        font-size: 20px;
    }
    .volume_weight_rule_item,
    .volume_weight_rule_item_last {
        font-size: 20px;
    }
    .volume_weight_discount {
        font-size: 28px;
        margin-top: 0;
    }
    .volume_weight_examples {
        margin-top: 50px;
        gap: 15px;
    }
    .volume_weight_examples_title {
        font-size: 20px;
    }
    .volume_weight_example_item,
    .volume_weight_example_item_last {
        font-size: 18px;
        height: auto;
    }
    .delivery_info_container {
        gap: 30px;
        max-width: 90vw;
    }
    .delivery_info_text-group-1 {
        gap: 40px;
    }
    .delivery_info_icon-wrapper {
        width: 80px;
        height: 80px;
    }
    .delivery_info_title {
        font-size: 28px;
    }
    .delivery_info_description-1,
    .delivery_info_description-2 {
        font-size: 18px;
    }
    .delivery_info_text-group-2 {
        margin-top: 40px;
    }
    .delivery_info_link {
        font-size: 20px;
    }
    .delivery_info_divider {
        margin-left: 35px;
    }
    .delivery_info_calculator-title {
        font-size: 28px;
    }
    .delivery_info_input-group.city-input {
        margin-top: 50px;
    }
    .delivery_info_input-group.weight-input {
        margin-top: 50px;
    }
    .delivery_info_input-icon {
        width: 30px;
        height: 30px;
    }
    .delivery_info_radio-buttons {
        margin-top: 50px;
        gap: 40px;
    }
    .delivery_countries_cards-block {
        gap: 30px;
    }
    .additional_services_cards-block {
        gap: 30px;
    }

    .additional_services_card {
        gap: 40px;
        height: auto;
        flex-direction: column;
        grid-column: 1 / span 7;
        max-width: 100%;

    }

    .additional_services_card.consolidation-card,
    .additional_services_card.acceptance-card {
        margin-top: 40px;
    }

    .additional_services_card_icon-wrapper {
        align-self: flex-start;
        width: 80px;
        height: 80px;
    }

    .additional_services_card_title {
        font-size: 28px;
        margin-top: 10px;
    }
    .additional_services_card_price {
        font-size: 18px;
    }
    .additional_services_card_text {
        font-size: 18px;
        height: auto;
    }

    .additional_services_card_link {
        font-size: 20px;
        margin-top: 10px;
    }

    .additional_services_card.consolidation-card .additional_services_card_text,
    .additional_services_card.acceptance-card .additional_services_card_text,
    .additional_services_card.returns-card .additional_services_card_text,
    .additional_services_card.dop-services-card .additional_services_card_text {
        height: auto;
    }

    .additional_services_card.consolidation-card .additional_services_card_link,
    .additional_services_card.acceptance-card .additional_services_card_link {
        margin-top: 10px;
    }
}

@media (max-width: 1280px) {
    .storage_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    .storage_outbound {
        margin-top: 0;
    }

    .timeline_prices-inbound {
        margin-left: 150px;
    }

    .storage_divider {
        width: 100%;
        height: 2px;
    }

    .oversized_cargo_section {
        margin-top: 80px;
    }

    .oversized_cargo_title-block {
        gap: 30px;
        max-width: 100%;
    }

    .oversized_cargo_icon {
        width: 70px;
        height: 70px;
    }


    .oversized_cargo_title {
        font-size: 28px;
        width: auto;
    }

    .oversized_cargo_text-one,
    .oversized_cargo_text-two {
        font-size: 20px;
        margin-top: 25px;
    }
    .volume_weight_header {
        gap: 30px;
    }
    .volume_weight_icon {
        width: 70px;
        height: 70px;
    }
    .delivery_countries_cards-block {
        gap: 20px;
    }
    .additional_services_cards-block {
        gap: 20px;
    }
    .additional_services_card {
        gap: 30px;
    }
    .delivery_info_container {
        gap: 20px;
        max-width: 90vw;
        grid-template-columns: 1fr;
    }
    .delivery_info_text-block {
        grid-column: 1 / -1;
    }
    .delivery_info_divider {
        grid-column: 1 / -1;
        width: 100%;
        height: 2px;
        margin: 40px 0;
    }
    .delivery_info_calculator-block {
        grid-column: 1 / -1;
    }
    .delivery_info_radio-buttons {
        gap: 15px;
    }
}