@font-face {
    font-family: 'montserrat alternates-regular';
    src: url('../fonts/MontserratAlternates-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'montserrat alternates-bold';
    src: url('../fonts/MontserratAlternates-Bold.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'montserrat alternates-semibold';
    src: url('../fonts/MontserratAlternates-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

a, a:hover, a:focus, a:active {
    color: black;
    text-decoration: none;
}

:root {
    --color-base-accent: #FF004C;
    --color-dop-accent: #880028;
    --color-base: #FFF5F5;
    --color-dop: #FFDFDF;
    --font-bold: 'montserrat alternates-bold', sans-serif;
    --font-semibold: 'montserrat alternates-semibold', sans-serif;
    --font-regular: 'montserrat alternates-regular', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-regular), sans-serif;
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: border-box;
}

header {
    width: auto;
    height: 70px;
    max-width: 1762px;
    display: grid;
    margin: auto;
    grid-template-columns: auto repeat(4, 1fr) auto auto;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
}

.burger {
    display: none;
}

.main_button {
    display: flex;
    align-items: center;
    gap: 26px;
}

.main_button img {
    width: 81px;
    height: 40px;
}

.logo_name {
    font-family: var(--font-bold), sans-serif;
    font-size: 20px;
}

.header_text {
    font-size: 20px;
    transition: 0.3s;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_text:hover {
    color: var(--color-base-accent);
    transition: 0.3s;
}

.header_balance {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header_balance img {
    width: 32px;
    height: 32px;
}

.header_balance_text {
    font-size: 20px;
}

.header_profile {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: black;
}

.header_profile img {
    width: 32px;
    height: 32px;
    color: var(--color-base-accent);
}

.header_profile_name {
    font-size: 20px;
}

.header_login_button, .header_registration_button {
    display: none;
}

.order-button {
    width: auto;
    max-width: 509px;
    height: 70px;
    border-radius: 10px;
    border: none;
    color: var(--color-base);
    background-color: var(--color-base-accent);
    font-size: 36px;
    font-family: var(--font-bold), serif;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.order-button:hover, .order-button:focus, .order-button:active {
    color: var(--color-base);
    background-color: var(--color-dop-accent);
    transition: 0.3s;
}

footer {
    margin-top: 140px;
    width: 100%;
    background-color: var(--color-dop-accent);
    padding: 99px 0 68px;
}

.footer_container {
    max-width: 1762px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.footer_links-block {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 60px;
    max-width: 1762px;
}

.footer_section {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer_section:nth-child(2) {
    grid-column: 4/5;
}

.footer_title {
    font-size: 24px;
    font-family: var(--font-semibold), serif;
    color: var(--color-dop);
    text-transform: uppercase;
}

.footer_links {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.footer_link {
    font-size: 20px;
    text-decoration: none;
    color: var(--color-dop);
    line-height: 2;
    padding: 2px 0;
    transition: color 0.2s;
}

.footer_link:hover {
    color: var(--color-base-accent);
}

.footer_contacts-block {
    grid-column: 6/8;
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-left: auto;
    margin-top: -169px;
    position: relative;
}

.footer_hotline-text,
.footer_schedule,
.footer_support-service {
    color: var(--color-dop);
    font-size: 16px;
    line-height: 1.5;
}

.footer_hotline-text {
    width: 449px;
    margin-left: auto;
    text-align: right;
    padding-bottom: 2px;
}

.footer_phone {
    font-size: 32px;
    font-family: var(--font-bold), serif;
    color: var(--color-dop);
    line-height: 1.2;
    padding: 5px 0 10px;
}

.footer_schedule {
    font-size: 16px;
    padding-bottom: 30px;
}

.footer_support-service {
    font-size: 24px;
    font-family: var(--font-bold), serif;
    text-transform: uppercase;
    padding-top: 15px;
}

.footer_divider {
    border: none;
    height: 2px;
    background-color: var(--color-dop);
    width: 100%;
    margin-top: 68px;
    margin-bottom: 35px;
}

.footer_bottom-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_socials {
    display: flex;
    gap: 30px;
}

.footer_social-icon {
    width: 28px;
    height: 28px;
    object-fit: contain;
}

.footer_copyright {
    font-size: 16px;
    color: var(--color-base);
}

.radio_label .radio {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--color-dop-accent);
}

.radio_label input {
    appearance: none;
}

.radio_label input:checked + .radio {
    background-color: var(--color-base-accent);
}

.radio_label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
    gap: 18px;
}

.profile_block_user_menu_block_left {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.profile_container {
    max-width: 1762px;
    margin: 140px auto 0;
    padding: 0 20px;
}

.profile_title {
    font-family: var(--font-bold), sans-serif;
    font-size: 40px;
    color: #000000;
    margin-bottom: 40px;
}

.profile_top_blocks, .profile_bottom_blocks {
    display: grid;
    gap: 60px;
    grid-template-columns: repeat(2, 1fr);
}

.profile_top_blocks {
    margin-bottom: 40px;
}

.profile_block {
    width: 100%;
    border-radius: 10px;
    padding: 35px;
}

.incoming_parcels_block {
    padding: 35px;
    display: flex;
    flex-direction: column;
}

.incoming_parcels_content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.incoming_parcels_icon {
    width: 70px;
    height: 70px;
    margin-bottom: 18px;
}

.incoming_parcels_icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.incoming_parcels_subtitle {
    font-size: 20px;
    font-style: italic;
    color: #000000;
}

.incoming_parcels_title {
    font-family: var(--font-bold), sans-serif;
    font-size: 32px;
    color: #000000;
    margin-bottom: 15px;
}

.incoming_parcels_info {
    margin-bottom: auto;
}

.incoming_parcels_description {
    font-size: 20px;
    color: #000000;
    line-height: 1.2;
}

.incoming_parcels_button {
    width: 100%;
    max-width: 380px;
    height: 70px;
    font-size: 16px;
    font-family: var(--font-bold), sans-serif;
    text-transform: uppercase;
    margin-top: 30px;
    align-self: flex-start;
}

.incoming_parcels_button .button_icon {
    font-size: 30px;
    margin-right: 10px;
    line-height: 1;
}

.order_parcel_block {
    padding: 35px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.order_parcel_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.order_parcel_header {
    display: flex;
    align-items: flex-start;
    gap: 13px;
}

.order_parcel_icon {
    width: 60px;
    height: 60px;
}

.order_parcel_icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.order_parcel_subtitle {
    font-size: 20px;
    font-style: italic;
    color: #000000;
}

.order_parcel_title {
    font-family: var(--font-bold), sans-serif;
    font-size: 32px;
    color: #000000;
}

.order_parcel_info .order_parcel_description {
    font-size: 20px;
    color: #000000;
    line-height: 1.2;
}

.order_parcel_actions {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;
    max-width: 414px;
}

.add_request_button {
    width: 100%;
    max-width: 414px;
    height: 70px;
    font-size: 16px;
    font-family: var(--font-bold), sans-serif;
    text-transform: uppercase;
}

.add_request_button .button_icon {
    font-size: 30px;
    margin-right: 10px;
    line-height: 1;
}

.order_parcel_my_requests {
    font-size: 20px;
    font-family: var(--font-semibold), sans-serif;
    color: var(--color-base-accent);
    text-align: center;
    text-decoration: none;
    transition: color 0.3s;
}

.order_parcel_my_requests:hover {
    color: var(--color-dop-accent);
}

.user_menu_block {
    height: 410px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.user_info {
    display: flex;
    align-items: center;
    gap: 63px;
    margin-bottom: 20px;
}

.user_avatar {
    width: 96px;
    height: 96px;
}

.user_avatar img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.user_client_number {
    font-size: 20px;
    color: var(--color-dop-accent);
}

.user_name {
    font-family: var(--font-bold), sans-serif;
    font-size: 24px;
    color: #000000;
}

.user_menu {
    margin-left: 159px;
    display: flex;
    flex-direction: column;
}

.user_menu_item {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 18px;
    text-decoration: none;
    color: #000000;
    transition: color 0.3s;
}

.user_menu_item:hover {
    color: var(--color-base-accent);
}

.user_menu_item img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.user_menu_item p {
    font-size: 20px;
}

.user_menu_divider {
    border: none;
    height: 1px;
    background-color: var(--color-dop-accent);
    width: 255px;
    margin: 17px 0 18px;
}

.logout_item {
    margin-bottom: 0;
}

.restricted_goods_block {
    padding: 35px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 168px;
    width: 100%;
}

.restricted_goods_content {
    display: flex;
    align-items: center;
    gap: 40px;
}

.restricted_goods_icon {
    width: 97px;
    height: 97px;
}

.restricted_goods_icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.restricted_goods_text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.restricted_goods_title {
    font-size: 20px;
    color: #000000;
}

.restricted_goods_button {
    width: 285px;
    height: 48px;
    font-size: 16px;
    font-family: var(--font-bold), sans-serif;
    text-transform: uppercase;
    padding: 0;
}

.customs_limit_block {
    padding: 35px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    height: 168px;
    width: 100%;
}

.customs_limit_content {
    display: flex;
    align-items: center;
    gap: 35px;
}

.customs_limit_flag {
    width: 97px;
    height: 97px;
    object-fit: cover;
    border-radius: 50%;
}

.customs_limit_text {
    display: flex;
    flex-direction: column;
}

.customs_limit_subtitle {
    font-size: 20px;
    color: #000000;
    margin-bottom: 5px;
}

.customs_limit_value {
    font-family: var(--font-bold), sans-serif;
    font-size: 32px;
    color: #000000;
    line-height: 1;
    margin-bottom: 5px;
}

.customs_limit_info {
    font-size: 20px;
    color: #000000;
}

@media (max-width: 1762px) {
    header,
    .footer_container,
    .footer_links-block,
    .preview_section,
    .countries_section,
    .price_section,
    .advantages_section,
    .advantage_price_section,
    .delivery_usa_section,
    .advantage_offer_section,
    .partner_usa_section,
    .how-it-works_section,
    .where-to-buy_section {
        max-width: 90vw;
        gap: 40px;
    }

    header {
        height: 60px;
        grid-template-columns: auto repeat(4, 1fr) auto auto;
    }

    .main_button {
        gap: 20px;
    }

    .main_button img {
        width: 60px;
        height: 30px;
    }

    .logo_name {
        font-size: 18px;
    }

    .header_text {
        font-size: 18px;
        height: 60px;
    }

    .header_balance img {
        width: 28px;
        height: 28px;
    }

    .header_balance_text, .header_profile_name {
        font-size: 18px;
    }

    .header_profile img {
        width: 28px;
        height: 28px;
    }

    .order-button {
        height: 60px;
        font-size: 12px;
    }

    footer {
        padding: 80px 0 50px;
        margin-top: 100px;
    }

    .footer_links-block {
        gap: 40px;
    }

    .footer_title {
        font-size: 20px;
    }

    .footer_link {
        font-size: 16px;
        line-height: 1.8;
    }

    .footer_contacts-block {
        margin-top: -120px;
    }

    .footer_hotline-text {
        width: 350px;
        font-size: 14px;
    }

    .footer_phone {
        font-size: 28px;
    }

    .footer_schedule {
        font-size: 14px;
        padding-bottom: 20px;
    }

    .footer_support-service {
        font-size: 20px;
    }

    .footer_divider {
        margin-top: 50px;
        margin-bottom: 25px;
    }

    .footer_social-icon {
        width: 24px;
        height: 24px;
    }

    .footer_copyright {
        font-size: 14px;
    }

    .profile_container {
        max-width: 90vw;
        gap: 40px;
    }

    .profile_top_blocks {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    .incoming_parcels_block {
        max-width: none;
    }

    .order_parcel_block {
        padding: 35px;
        justify-content: flex-start;
    }

    .order_parcel_content {
        width: 100%;
    }

    .order_parcel_info .order_parcel_description {
        width: 100%;
        max-width: 797px;
    }

    .profile_bottom_blocks {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    .user_menu_block {
        max-width: none;
        width: 100%;
    }

    .restricted_goods_block, .customs_limit_block {
        max-width: none;
        width: 100%;
    }

    .incoming_parcels_button {
        width: 100%;
        max-width: 380px;
    }

    .add_request_button {
        width: 100%;
    }

    .profile_title {
        font-size: 36px;
    }
}

@media (max-width: 1440px) {
    header,
    .footer_container,
    .footer_links-block,
    .preview_section,
    .countries_section,
    .price_section,
    .advantages_section,
    .advantage_price_section,
    .delivery_usa_section,
    .advantage_offer_section,
    .partner_usa_section,
    .how-it-works_section,
    .where-to-buy_section {
        max-width: 90vw;
        gap: 30px;
    }

    header {
        grid-template-columns: auto repeat(4, 1fr) auto auto;
        gap: 30px;
    }

    .footer_links-block {
        gap: 30px;
    }

    .footer_contacts-block {
        margin-top: -100px;
    }

    .footer_hotline-text {
        width: 300px;
    }

    .profile_container {
        gap: 30px;
    }

    .profile_top_blocks {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .profile_bottom_blocks {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .profile_title {
        font-size: 32px;
    }

    .incoming_parcels_button {
        max-width: 330px;
    }

    .order_parcel_actions {
        width: 100%;
        max-width: 414px;
    }

    .user_info {
        gap: 40px;
    }

    .user_menu {
        margin-left: 100px;
    }
}

@media (max-width: 1280px) {
    header,
    .footer_container,
    .footer_links-block,
    .preview_section,
    .countries_section,
    .price_section,
    .advantages_section,
    .advantage_price_section,
    .delivery_usa_section,
    .advantage_offer_section,
    .partner_usa_section,
    .how-it-works_section,
    .where-to-buy_section {
        max-width: 90vw;
        gap: 20px;
    }

    header {
        grid-template-columns: auto repeat(4, 1fr) auto auto;
        gap: 20px;
    }

    .footer_links-block {
        gap: 20px;
    }

    .footer_contacts-block {
        margin-top: -80px;
    }

    .footer_hotline-text {
        width: 250px;
    }

    .profile_container {
        gap: 20px;
    }

    .profile_title {
        font-size: 28px;
    }

    .profile_top_blocks {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .profile_bottom_blocks {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .incoming_parcels_button {
        max-width: 300px;
    }

    .order_parcel_block {
        padding: 35px;
    }

    .user_info {
        gap: 20px;
    }

    .user_menu {
        margin-left: 50px;
    }
}

@media (max-width: 1024px) {
    header {
        height: 60px;
        grid-template-columns: auto auto auto auto;
        justify-content: space-between;
        gap: 20px;
        padding: 0 20px;
        max-width: 100%;
    }

    .header_text {
        display: none;
    }

    .logo_name {
        font-size: 18px;
    }

    .header_balance, .header_profile {
        display: flex;
    }

    .footer_links-block {
        grid-template-columns: repeat(4, 1fr);
        gap: 40px 20px;
    }

    .footer_section {
        grid-column: span 2;
    }

    .footer_section:nth-child(2) {
        grid-column: 3/5;
    }

    .footer_contacts-block {
        margin-top: 50px;
        margin-right: 0;
        text-align: left;
    }

    .footer_hotline-text {
        width: auto;
        text-align: left;
        font-size: 16px;
    }

    .footer_support-service {
        font-size: 20px;
    }

    .profile_container {
        padding: 0 15px;
    }

    .profile_top_blocks {
        grid-template-columns: 1fr;
    }

    .order_parcel_block {
        padding: 35px;
    }

    .profile_bottom_blocks {
        grid-template-columns: 1fr;
    }

    .user_menu_block {
        height: auto;
        width: 100%;
    }

    .restricted_goods_block, .customs_limit_block {
        grid-column: 1 / 2;
        max-width: 100%;
        width: 100%;
    }

}

@media (max-width: 768px) {
    header {
        display: flex;
        margin-top: 15px;
        height: 50px;
        padding: 0 15px;
        justify-content: space-between;
    }

    .header_balance, .header_profile {
        display: none;
    }

    .logo_name {
        font-size: 16px;
    }

    .burger {
        display: flex;
    }

    .footer_links-block {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .footer_section {
        grid-column: span 1;
    }

    .footer_section:nth-child(2) {
        grid-column: auto;
    }

    .footer_contacts-block {
        margin-top: 30px;
    }

    .footer_phone {
        font-size: 24px;
    }

    .footer_bottom-block {
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
    }

    .profile_container {
        margin-top: 20px;
        padding: 0 15px;
    }

    .profile_title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .profile_top_blocks {
        gap: 20px;
        grid-template-columns: 1fr;
    }

    .incoming_parcels_title, .order_parcel_title {
        font-size: 24px;
    }

    .incoming_parcels_subtitle, .incoming_parcels_description, .order_parcel_subtitle, .order_parcel_description, .order_parcel_my_requests, .user_client_number, .user_menu_item p, .restricted_goods_title, .customs_limit_subtitle, .customs_limit_info {
        font-size: 16px;
    }

    .incoming_parcels_icon, .order_parcel_icon {
        width: 50px;
        height: 50px;
    }

    .incoming_parcels_button, .add_request_button {
        height: 50px;
        font-size: 10px;
        max-width: none;
    }

    .incoming_parcels_button .button_icon, .add_request_button .button_icon {
        font-size: 10px;
    }

    .profile_bottom_blocks {
        gap: 20px;
    }

    .user_info {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .user_avatar {
        width: 70px;
        height: 70px;
    }

    .user_name {
        font-size: 20px;
    }

    .user_menu {
        margin-left: 0;
        margin-top: 20px;
    }

    .user_menu_item {
        gap: 15px;
    }

    .user_menu_divider {
        width: 100%;
    }

    .restricted_goods_content, .customs_limit_content {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .restricted_goods_icon, .customs_limit_flag {
        width: 70px;
        height: 70px;
    }

    .restricted_goods_text {
        gap: 5px;
    }

    .restricted_goods_button {
        width: 200px;
        height: 40px;
        font-size: 14px;
    }

    .customs_limit_value {
        font-size: 24px;
    }
}